body {
  margin: 0;
  min-height: 100vh;
  background-image: url("./popcorn-background-cinema-concept.jpg") ;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1%;
}

.searchContainer {
  min-width: 20vh;
  margin-left: 10%;
  align-self: center;
  background-color: violet;
}

.searchContainer .searchBar {
  border: 2px solid black;
}




.formContainer {
  display: flex;
  align-items: baseline;
  margin: 2%;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.363);
  border: 2px solid black;
  border-radius: 10px;
}

.formContainer input {
  border: 2px solid black;
}

.MovieCard {
  text-align: center;
  margin: 1%;
  border-color: black;
  color: white;
}

.MovieCard .MovieBody{
  border-color: black;
  background-color: black;
  min-height: 50vh;
}

.MovieCard .MovieImage {
  min-height: 50vh;

}

.moviesContainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;  
  background-color: rgba(0, 0, 0, 0.363);
  border: 2px solid black;
  border-radius: 10px;

}


.stars {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-left: 5%;
}



.changeColor .fas {
  color: gold;
}

.Rstars {
  display: flex;
  color: white;
  align-items: baseline;
  justify-content: center;
  margin-left: 80%;
  margin-top: 5%;
}

/* events */
.formContainer:hover {
  background-color: rgba(0, 0, 0, 0.486);
}

.Rstars .star-btn:hover{
  background-color:gold;
}